<head>
  <link href="https://fonts.googleapis.com/css?family=Butterfly+Kids|Ruge+Boogie|Sacramento" rel="stylesheet">
</head>

<h1 align="center">Welcome to Hello Kitty!</h1>
<h2 align="center">Adopt a kitten and start a love story</h2>

<p align="center">
  <%= link_to image_tag("hk.png", width: "500px"), :controller => "adoption", :action => "kittenlisting" %>
</p>

<h3 align="center">click the picture to enter our adoption website.</h3>
