// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: deeppink;
}

h1 {
  color: ghostwhite;
  font-family: 'Sacramento', cursive;
  font-size: 54px;
}

h2 {
  font-family: 'Butterfly Kids', cursive;
  font-size: 54px;
  font-weight: 500;
  color: #800080;
}

h3 {
  font-family: 'Ruge Boogie', cursive;
  font-weight: normal;
  font-size: 24px;
}