<head>
  <link href="https://fonts.googleapis.com/css?family=Butterfly+Kids|Ruge+Boogie|Sacramento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<h1 align="center"><%= h @message %>!</h1>
<h2 align="center">Adopt a kitten and start <%= h @headline %></h2>

<p align="center">
  <%= link_to image_tag("hk.png", width: "400px"), :controller => "adoption", :action => "kittenlisting" %>
</p>

<h3 align="center">click the picture to enter our adoption website.</h3>
