<h1>Kitten Listings</h1>
<p>Click the kitty you would like to adopt</p>

<%= link_to image_tag("grumpy.jpg", width: "500px"), :controller => "adoption", :action => "adopt", :cat => "Grumpy" %>

<%= link_to image_tag("red.jpg", width: "500px"), :controller => "adoption", :action => "adopt", :cat => "Redbull" %>

<%= link_to image_tag("venus.jpg", width: "500px"), :controller => "adoption", :action => "adopt", :cat => "Venus" %>

<%= link_to image_tag("zoe.jpg", width: "500px"), :controller => "adoption", :action => "adopt", :cat => "Zoe" %>